.pink-text{
    color: $color-main-pink;
}

.pink-hover-text:hover{
    color: $color-main-pink;
}

.pink-border{
    border-color: $color-main-pink;
}

.pink-hover-bg:hover{
    background-color: $color-main-pink;
}

a.pink-hover-text:hover div span{
    color: $color-main-pink;
}

/*======================================*/
.yellow-text{
    color: $color-main-yellow;
}

.yellow-hover-text:hover{
    color: $color-main-yellow;
}

.yellow-border{
    border-color: $color-main-yellow;
}

.yellow-hover-bg:hover{
    background-color: $color-main-yellow;
}
a.yellow-hover-text:hover div span{
    color: $color-main-yellow;
}
/*======================================*/
.green-text{
    color: $color-main-green;
}

.green-hover-text:hover{
    color: $color-main-green;
}

.green-border{
    border-color: $color-main-green;
}

.green-hover-bg:hover{
    background-color: $color-main-green;
}

a.green-hover-text:hover div span{
    color: $color-main-green;
}


/*======================================*/
.blue-text{
    color: $color-main-blue;
}

.blue-hover-text:hover{
    color: $color-main-blue;
}

.blue-border{
    border-color: $color-main-blue;
}

.blue-hover-bg:hover{
    background-color: $color-main-blue;
}

a.blue-hover-text:hover div span{
    color: $color-main-blue;
}

/*======================================*/
.red-text{
    color: $color-main-red;
}

.red-hover-text:hover{
    color: $color-main-red;
}

.red-border{
    border-color: $color-main-red;
}

.red-hover-bg:hover{
    background-color: $color-main-red;
}

a.red-hover-text:hover div span{
    color: $color-main-red;
}

/*======================================*/
.cyan-text{
    color: $color-main-cyan;
}

.cyan-hover-text:hover{
    color: $color-main-cyan;
}

.cyan-border{
    border-color: $color-main-cyan;
}

.cyan-hover-bg:hover{
    background-color: $color-main-cyan;
}

a.cyan-hover-text:hover div span{
    color: $color-main-cyan;
}

