$color-white: #fff;
$color-grey-light: #a4b2b2;
$color-grey-dark: #686868;
$color-black: #000;
$color-cyan: cyan;
$color-red: red;
$color-main-pink: #fb839e;
$color-main-yellow: #ec9412;
$color-main-green: #1fc586;
$color-main-blue: #2eb1ed;
$color-main-red: #cc3a3b;
$color-main-cyan: cyan;
$color-main-dark: #2b2c2f;
$default-font-size:16px;